<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>책목록</title>
</head>
<body>
<h1>저자 목록</h1>

<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>이름</th>
      <th>생년월일</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
      <td><a th:href="@{/authors/{authorId}(authorId=${author.authorId})}"  th:text="${author.authorId}"></a></td>
      <td th:text="${author.authorName}">이름</td>
      <td th:text="${author.authorBirth}">1999</td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/}">홈으로</a>

</div>
</body>
</html>